/* NAVBAR */

.navbar {
  background: none;
  font-size: 18px;
  padding: 0 50px;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  z-index: 100;
  width: 100%;
  border: none;
  box-shadow: none;
}

.nav-right {
  display: flex;
  color: white;
}

.nav-item {
  color: white !important;
  padding: 0 5px;
  margin: 0 5px;
}
