.carousel {
  width: 100%;
}

.carousel-img {
  width: 100%;
  max-height: 600px;
}

.carousel-caption {
  top: 30%;
  letter-spacing: 1.3px;
}


.offering-button {
  background: none;
  border: 1px solid white;
  color: white;
}

.offering-button:focus {

}

section {
  padding: 20px 0;
  margin: 20px 0;
}

.section-header {
  font-weight: 400;
  text-align: center;
}

#email {
  display: flex column;
  width: 45%;
  padding: 10px;
}

#formControlsEmail {
  height: 50px;
}

.cards-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cards-list > * {
  padding: 0px;
  margin: 0 10px;
  height: 300px;
  width: 35rem;
}

.artist-card-img {
  max-width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
  border: none;
}

.card-icon {
  flex: 1.7;
}

.panel-body {
  flex: 1;
  font-size: 18px;
  font-weight: 500;
}
